/* Corps */
	/* Mobile */
@media screen and (max-width: 767px) {
	#corps {
		padding: 0;
		width: 90%;
	}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	#corps {
		padding: 0;
		width: 90%;
	}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	#corps {
		padding-bottom: 10px;
	}
}


/* Noms des principaux domaines */
.domaine {
	background-color: #fff;

	border: 0.75px solid rgba(0, 0, 0, 0.5);
	border-bottom: 0;
	border-radius: 10px 10px 0 0;

	display: inline-block;
}
	/* Mobile */
@media screen and (max-width: 767px) {
	.domaine {
		font-size: 16px;

		margin-top: 20px;
		margin-left: 20px;
		padding: 10px 20px;
	}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	.domaine {
		font-size: 20px;

		margin-top: 20px;
		margin-left: 40px;
		padding: 10px 20px;
	}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	.domaine {
		font-size: 24px;

		margin-top: 50px;
		margin-left: 40px;
		padding: 10px 20px;
	}
}


/* Affichage des chapitres */
ul {
	list-style: none;
	padding: 0;
	margin-top: 0;
	border: 0.75px solid rgba(0, 0, 0, 0.5);
	border-top: 0;
}

ul a {
	color: #000;
}

li {
	background-color: #fff;
	border-top: 0.75px solid rgba(0, 0, 0, 0.5);
	/*border: 0.75px solid rgba(0, 0, 0, 0.5);*/
}
.notdispo {
	background: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.5);
}

	/* Mobile */
@media screen and (max-width: 767px) {
	li {
		display: flex;
		justify-content: space-between;
		font-size: 13px;
	}
	li div {
		padding: 15px 10px;
	}
	.read {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		height: 100%;

		border: 1px solid #000000;
		box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
	}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	li {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
	}
	li div {
		padding: 15px;
	}
	.read {
		display: flex;
		align-items: center;
		box-sizing: border-box;
		height: 100%;

		border: 1px solid #000000;
		box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
	}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	li {
		display: flex;
		justify-content: space-between;
		font-size: 18px;
	}
	li div {
		padding: 15px;
	}
	.dispo {
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	}
	.dispo:hover {
		border: 1px solid rgba(0, 0, 0, 1);
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
	}
}
