#corps {
	background: #fff;
}

#corps a {
	font-weight: 900;
	color: rgba(0, 0, 0, 0.5);
}

	/* Mobile */
@media screen and (max-width: 767px) {
	#corps {
		width: 93%;
		border-radius: 5px;
		padding: 10px 15px 5px
	}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	#corps {
		width: 85%;
		border-radius: 10px;
		padding: 15px 20px 5px
	}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	#corps {
		border-radius: 10px;
		padding: 20px;
		padding-bottom: 10px;
	}
}