/* Général */
html {
	font-family: 'Nunito', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	min-height: 100vh;
}

.titre {font-family: 'Baloo', cursive;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

.red {color: red;}

button {cursor: pointer;}


.triangle {fill: #fff;}
.tri {
	position: absolute;
	z-index: 1;
}

	/* Mobile */
@media screen and (max-width: 767px) {
	html {font-size: 14px;}
	body {padding-top: 40px;}
	.notmobile {display: none !important;}
	.onlydesktop {display: none !important;}
	.tri, .tri svg {
		width: 25px;
		height: 25px;
	}
	.smalltext {font-size: 10px;}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	html {font-size: 16px;}
	body {padding-top: 48px;}
	.onlymobile {display: none !important;}
	.onlydesktop {display: none !important;}
	.tri, .tri svg {
		width: 60px;
		height: 60px;
	}
	.smalltext {font-size: 12px;}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	html {font-size: 18px;}
	body {padding-top: 48px;}
	.onlymobile {display: none !important;}
	.notdesktop {display: none !important;}
	.tri, .tri svg {
		width: 60px;
		height: 60px;
	}
	.smalltext {font-size: 14px;}
}


/* Header */
/*header {
	width: 100%;
	background: #C4C4C4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	position:fixed;
	top: 0;
	z-index: 2;
}

header .titre {
	text-align: center;
	margin: auto;
}

header a {
	color: black;
}*/

	/* Mobile */
/*@media screen and (max-width: 767px) {
	header {
		display: flex;
	}
	header .titre {
		font-size: 22px;
	}

	.dropbtn svg {
		width: 25px;
		height: 25px;
	}

	.dropbtn {
	  background-color: #E5E5E5;
	  color: white;
	  padding: 0;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	  width: 50px;
	  height: 40px;
	}

	.dropbtn:hover, .dropbtn:focus {
	  background-color: ##f1f1f1;
	}

	.dropdown {
	  float: right;
	  position: relative;
	  display: inline-block;
	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: #f1f1f1;
	  min-width: 160px;
	  overflow: auto;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  right: 0;
	  z-index: 2;
	  text-align: center
	}

	.dropdown-content a {
	  color: black;
	  padding: 12px 16px;
	  border: 1px solid black;
	  display: flex;
	  justify-content: space-around;
	}

	.dropdown a:hover {background-color: #ddd;}

	.dropdown-content svg {
		width: 22px;
		height: 22px;
	}

	.show {display: block;}
}*/
	/* Tablet and desktop */
/*@media screen and (min-width: 768px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	header .titre {
		font-size: 30px;
		grid-column: 2;
	}
	header div {
		grid-column: 3;
		display: flex;
		margin: auto;
		margin-right: 30px;
	}

	.conn {
		background: #E5E5E5;
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		padding: 3px;
		margin-left: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
}*/





/* Entête */
#logo {
	margin: auto;
}

#entete {
	background: #E8E8E8;
	display: grid;
	grid-template-columns: 1fr 4fr;
	text-align: center;
	position: relative;
	box-sizing: border-box;
}

#triangle1 {
	bottom: 0;
	left: 0;
}
#triangle2 {
	bottom: 0;
	right: 0;
}

	/* Mobile */
@media screen and (max-width: 767px) {
	#logo {
		width: 40px;
		margin-right: 5px;
	}
	h1 {
	font-size: 18px;
	margin: 20px;
	}
	h2 {
		font-size: 14px;
		margin: 0;
		padding-bottom: 15px;
		padding-top: 0;
	}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	#logo {
		width: 100px;
		margin-right: 0;
	}
	h1 {
		font-size: 30px;
		margin: 40px;
	}
	h2 {
		font-size: 20px;
		margin: 0;
		padding-bottom: 40px;
		padding-top: 0;
	}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	#logo {
		width: 140px;
		margin-right: 0;
	}
	h1 {
		font-size: 36px;
		margin: 50px;
	}
	h2 {
		font-size: 28px;
		margin: 0;
		padding-bottom: 40px;
		padding-top: 20px;
	}
}




/* Navigation */
nav {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

nav a {
	color: black;
	margin: auto;
	padding: 10px;
}

.actif {
	background-color: #C4C4C4;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.notactive {
	background: rgba(196, 196, 196, 0.5);
	color: rgba(0, 0, 0, 0.5);
}
.notactive:hover {text-decoration: none;}
.notactive svg {
	fill: rgba(0, 0, 0, 0.5);
}

	/* Mobile */
@media screen and (max-width: 767px) {
	nav a {
		border-radius: 15px;
	}
	.navig, .navig svg {
		width: 27px;
		height: 27px;
	}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	nav a {
		display: flex;
		justify-content: space-evenly;
		border-radius: 30px;
		width: 60%;
	}
	nav p {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 16px;
	}
	.navig, .navig svg {
		width: 25px;
		height: 25px;
	}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	nav a {
		display: flex;
		justify-content: space-evenly;
		border-radius: 40px;
		width: 60%;
	}
	nav p {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 20px;
	}
	.navig, .navig svg {
		width: 40px;
		height: 40px;
	}
}



/* Corps de la page */
#support {
	background: #D8D8D8;
	width: 100%;
	position: relative;
	box-sizing: border-box;
}

#triangle3 {
	top: 0;
	left: 0;
	transform: rotate(90deg);
}
#triangle4 {
	top: 0;
	right: 0;
	transform: rotate(180deg);
}

#corps {
	width: 77%;
	margin: auto;
	box-sizing: border-box;
}

h3 {
	text-align: center;
	margin-top: 0;
}

	/* Mobile */
@media screen and (max-width: 767px) {
	#support {
		padding-top: 17px;
		padding-bottom: 17px;
	}
	h3 {
		font-size: 16px;
	}
	#corps p {font-size: 14px;}
}
	/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
	#support {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h3 {
		font-size: 20px;
	}
	#corps p {font-size: 16px;}
}
	/* Desktop */
@media screen and (min-width: 1280px) {
	#support {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	h3 {
		font-size: 24px;
	}
	#corps p {font-size: 18px;}
}


/* Footer */
footer {
	background: #C4C4C4;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

	text-align: center;
	padding: 20px 10px 12px;
	
	box-sizing: border-box;
	width: 100%;
}

footer div {
	margin-bottom: 8px;
}

footer a {
	font-weight: 900;
	color: black;
}

	/* Mobile */
@media screen and (max-width: 767px) {
	footer {font-size: 10px;}
}
	/* Tablet */
@media screen and (min-width: 768px) {
	footer {font-size: 13px;}
}