/* Titres et paragraphe */
h2 {
	text-align: center;
  font-weight: 800;
}
h3 {
	text-align: left;
	font-weight: normal;
}
h4 {
	font-weight: normal;
	font-style: italic;
  color: rgba(0,0,0,0.75);
}
p {
	text-align: justify;
}

  /* Mobile */
@media screen and (max-width: 767px) {
  h2 {
    font-size: 18px;
  }
  h3 {
    padding-left: 0em;
  }
  h4 {
    font-size: 15px;
  }
}
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    padding-left: 2em;
  }
  h4 {
    font-size: 18px;
  }
}
  /* Desktop */
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 32px;
  }
  h3 {
    padding-left: 4em;
  }
  h4 {
    font-size: 20px;
  }
}



/* Listes */
ul {
  list-style: circle;
  text-align: justify;
}
  /* Mobile */
@media screen and (max-width: 767px) {
  ul {
    font-size: 14px;
    padding-left: 10px;
  }
}
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  ul {
    font-size: 16px;
    padding-left: 15px;
  }
}
  /* Desktop */
@media screen and (min-width: 1280px) {
  ul {
    font-size: 18px;
    padding-left: 20px;
  }
}





/* Equations et formules */
.equation {
	text-align: center;
}
.double {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.formule-container {
  text-align: center;
}
.formule {
  /*border: 2px solid black;
  padding: 5px 10px;*/
  display: inline-block;
}

  /* Mobile */
@media screen and (max-width: 767px) {
  .equation {
    font-size: 14px;
  }
  .formule-container {
    font-size: 14px;
  }
  .formule {
    border: 1px solid black;
    font-size: 14px;
    padding: 5px 5px;
  }
}
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .equation {
    font-size: 16px;
  }
  .formule-container {
    font-size: 16px;
  }
  .formule {
    border: 2px solid black;
    font-size: 16px;
    padding: 5px 10px;
  }
}
  /* Desktop */
@media screen and (min-width: 1280px) {
  .equation {
    font-size: 18px;
  }
  .formule-container {
    font-size: 18px;
  }
  .formule {
    border: 2px solid black;
    font-size: 18px;
    padding: 5px 10px;
  }
}




/* Canvas */
.canvaContainer {
	text-align: center;
	/*width: 720px;*/
	margin: auto;
}
canvas {
	border: 1px solid black;
	/*width: 100%;
	height: 405px;*/
}

#bal1 input {
  width: 40px;
}
/*#bal1 canvas {
  width: 720px;
  height: 250px;
}*/

#bal2 {
  text-align: center;
}
#bal2can {
  display: grid;
}
#bal2 input, #prodnul input {
  width: 40px;
}

  /* Mobile */
@media screen and (max-width: 767px) {
  #bal2can {
    grid-template-columns: auto;
  }
  #bal2gche {
    grid-row-start: 1;
    grid-row-end: 2;
    /*grid-column-start: 1;
    grid-column-end: 2;*/
  }
  #bal2canva {
    grid-row-start: 3;
    grid-row-end: 4;
    /*grid-column-start: 1;
    grid-column-end: 3;*/
  }
  #bal2dte {
    grid-row-start: 2;
    grid-row-end: 3;
    /*grid-column-start: 2;
    grid-column-end: 3;*/
  }
}
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #bal2can {
    grid-template-columns: auto auto;
  }
  #bal2gche {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #bal2canva {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #bal2dte {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
  /* Desktop */
@media screen and (min-width: 1280px) {
  #bal2can {
    grid-template-columns: auto auto auto;
  }
}



/* Autres chapitres */
#otherChaps {
  width: 77%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  margin-bottom: 20px;
}

#otherChaps a {
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.chapdispo {
  color: black;
  background: #FFFFFF;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.chapnotdispo {
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
}
.chapnotdispo:hover {text-decoration: none;}
.chapnotdispo svg {
  fill: rgba(0, 0, 0, 0.5);
}

#otherChaps p {padding: 0; margin: 0;}

#otherChaps svg {
  width: 25px;
  height: 25px;
}

#chappr a {
  margin: 0;
}
#chapli a {
  margin: auto;
}
#chapsu a {
  margin-right: 0;
  margin-left: auto;
}

  /* Mobile */
@media screen and (max-width: 767px) {
  #otherChaps a {
    width: 50px;
    height: 40px;
    justify-content: center;
  }
}
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #otherChaps a {
    width: 95%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 15px;
    justify-content: space-between;
  }
}
  /* Desktop */
@media screen and (min-width: 1280px) {
  #otherChaps a {
    width: 60%;
    padding: 10px 20px;
    font-size: 18px;
    justify-content: space-between;
  }
}



/* Test final */
.btnContainer {
  text-align: center;
}

#btnTest {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

  /* Mobile */
@media screen and (max-width: 767px) {
  #btnTest {
    padding: 5px 10px;
    font-size: 15px;
  }
}
  /* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  #btnTest {
    padding: 8px 13px;
    font-size: 18px;
  }
}
  /* Desktop */
@media screen and (min-width: 1280px) {
  #btnTest {
    padding: 10px 15px;
    font-size: 22px;
  }
}




/* Modal */
	/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

 /* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
} 

	/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 